body{
    padding: 0px;
    background-color:#E3D1BD;
    margin: 0px;
}

#ingredientes{
    font-size: 24px;
    font-family: 'PT Serif', serif;
    text-align: center;
    padding: 5px;
    color: rgb(77, 74, 74);
    width: 100%;
}

#ingredientes h2{
    text-shadow: 1px 1px 1px black;
}

#menu{
    overflow: hidden;
    background-color: #784828;
    font-size: 20px;
}

#menu a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

#menu a:hover{
    background-color:black;
    transition: 0.5s; 
    cursor: pointer;
}

.doces h2{
    margin: auto;
    color: black;
    font-family: sans-serif;
}

.doces ul li{
    margin: auto;
    color:#613921;
    font-size: 24px;
}

.doces ul {
    margin-bottom: 5px;
    color: #613921;
    font-size: 24px;
}

.image{
    margin-top: 20px;
    height: max-content;
    width: max-content;
}


.image img{
    height: 250px;
    width: 300px;
    border-radius: 40px;
}

.doces
{  
     width: 400px;
    height: 400px;
}

.conteiner{
    margin: 30px;
    justify-content: space-evenly;
    display: flex;
}

#geral
{
    margin: auto;
    width: 90%;
    height: max-content;
    display: block;
}
